#logo {
    max-width: 100px;
    max-height: 100px;
    padding: 50px;
}
#logo:hover {
    max-width: 102px;
    max-height: 102px;
}
header{
    background: #000000;
    padding: 20px 0;
}
.caixa{
    position: relative;
    width: 940px;
    margin: 0 auto;
}
nav{
    position: absolute;
    top: 110px;
    right: 0;

}
nav li{
    display: inline;
    margin: 0 0 0 15px;
}
nav a{
    text-transform: uppercase;
    color: azure;
    font-weight: bold;
   font-size: 22px;
   text-decoration: none;
}
nav a:hover {
    color:rgb(250, 142, 70)
    }
img{
   padding-top: 30px;
}
.produtos{
    width: 940px;
    margin: 0 auto;
    padding: 50px 0;
}
.produtos li{
    display: inline-block;
    text-align: center;
    width: 30%;
    vertical-align: top;
    margin: 0 1.5%;
    padding: 30px 20px;
    box-sizing: border-box;
    border: 2px solid #000000;
    border-radius:10px ;
}
.produtos li:hover h2{
    font-size: 31px;
}
.produtos li:hover {
    border-color:rgb(250, 142, 70)
}
.produtos h2{
    font-size:  30px;
    font-weight: bold;
}
.produto-descricao{
    font-size:  18px;
}
.produto-preco{
    font-size:  22px;
    font-weight: bold;
    margin-top: 10px;
}

footer{
    text-align: center;
    color:#ffffff;
    font-size: small;
    background-color: #121212;
}
footer img{
    border-color:rgb(250, 142, 70);
    max-width: 35px;
}
.copyright{
    margin-top: 20px;
    text-align: center;
    color:#ffffff;
    font-size: small;
}
.tremidinha:hover{
  animation: tremer 0.5s;
  animation-iteration-count: infinite;  
}
@keyframes tremer {
    0% {transform: translate(0, 0) rotate(0);}
    10% {transform: translate(-0.5px, 0.5px) rotate(-1deg);}
    20% {transform: translate(-0.5px, -0.5px) rotate(1deg);}
    30% {transform: translate(0.5px, 0.5px) rotate(1deg);}
    40% {transform: translate(0.5px, -0.5px) rotate(-1deg);}
    50% {transform: translate(-0.5px, 0.5px) rotate(-1deg);}
    60% {transform: translate(-0.5px, -0.5px) rotate(1deg);}
    70% {transform: translate(0.5px, 0.5px) rotate(1deg);}
    80% {transform: translate(0.5px, -0.5px) rotate(-1deg);}
    90% {transform: translate(-0.5px, 0.5px) rotate(-1deg);}
    100% {transform: translate(0, 0) rotate(0);}
}

